@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
#my-box {
      
    
    height: 69px;
  
}

#my-font{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}

#bottom-div{
    
    height: 69px;
}
#lower-div{
    height: 69px;
}
#p-master {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}
#p-master span{
    color: #fb923c;
}